<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Bike Zone</div>
        <div class="right"></div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/BIKE-ZONE-MTB-1.jpg" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Bike Zone</h1>
        </div>
        <div class="content">
            <h2>One of the biggest inner-city Pump track in the world!</h2>
            <p><strong>Our Summer Fun Times</strong></p>
            <ul>
                <li>Weekdays, Monday to Friday – 13:00 – 18:00</li>
                <li>Weekends, Saturday and Sunday – 07:00 – 18:00</li>
            </ul>
            <p><strong>What We Offer:</strong></p>
            <ul>
                <li>One of the biggest inner-city Pump and MTB tracks in the world!</li>
                <li>Pump Track & Jumpline</li>
                <li>All-weather asphalt Pump Track (2500 m2) & 18 Jump – Jumpline</li>
                <li>Multi-wheel track for Kids under 3 (Beginners)</li>
                <li>Regular Fun Night Rides</li>
                <li>Pump Track *Kids Parties</li>
                <li>3.5km MTB Track</li>
            </ul>
            <p><strong>PUMP TRACK AND BIKE ZONE RULES</strong></p>
            <ul>
                <li><strong>NO</strong> helmet, <strong>NO</strong> band, <strong>NO</strong> ride</li>
                <li><strong>NO</strong> smoking, <strong>NO</strong> drugs, <strong>NO</strong> alcohol</li>
                <li><strong>NO</strong> riding on grass</li>
                <li><strong>NO</strong> pets</li>
                <li><strong>NO</strong> own food or drinks</li>
                <li><strong>Children under 16</strong> must be supervised by an adult at all times</li>
                <li>Indemnity forms to be signed at the office</li>
            </ul>
            <p>Please note: <strong>No children allowed on deck</strong> without parent’s supervision.</p>
        </div>
    </ons-card>
</ons-page>