<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Bike Zone</div>
        <div class="right">
            <ons-toolbar-button ng-click="openMenu()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/BIKE-ZONE-MTB-1.jpg" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Bike Zone</h1>
        </div>
        <div class="content">
            <h2>One of the biggest inner-city Pump track in the world!</h2>
            <p><strong>What We Offer:</strong></p>
            <ul>
                <li>One of the biggest inner-city Pump and MTB tracks in the world!</li>
                <li>Pump Track & Jumpline</li>
                <li>All-weather asphalt Pump Track (2500 m2) & 18 Jump – Jumpline</li>
                <li>Multi-wheel track for Kids under 3 (Beginners)</li>
                <li>Regular Fun Night Rides</li>
                <li>Pump Track *Kids Parties</li>
                <li>3km MTB Track</li>
                <li>Hiking Trail</li>
                <li>Upperdeck for Corporate, Year End Functions, Parties etc</li>
            </ul>
            
            <p><strong>Bike Hire:</strong></p>
            <ul>
                <li>Bike – R150 per day</li>
                <li>Helmet – R50 per hour</li>
                <li>Wirebike – Free for kids</li>
            </ul>
            <p>Office contact number for renting <a href="tel:0648507113">064 850 7113</a></p>
            <p><strong>PUMP TRACK AND BIKE ZONE RULES</strong></p>
            <ul>
                <li><strong>NO</strong> helmet, <strong>NO</strong> band, <strong>NO</strong> ride</li>
                <li><strong>NO</strong> smoking, <strong>NO</strong> drugs, <strong>NO</strong> alcohol</li>
                <li><strong>NO</strong> riding on grass</li>
                <li><strong>NO</strong> pets</li>
                <li><strong>NO</strong> own food or drinks</li>
                <li><strong>Children under 16</strong> must be supervised by an adult at all times</li>
                <li>Indemnity forms to be signed at the office</li>
            </ul>
            <p>Please note: <strong>No children allowed on deck</strong> without parent’s supervision.</p>
        </div>
    </ons-card>
</ons-page>