<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="loadPage('views/welcome.html')">
                <ons-icon icon="md-chevron_left"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Contact Us</div>
        <div class="right">
            <ons-toolbar-button ng-click="openMenu()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
     <p style="text-align: center; padding: 10px 30px; color: #fff;">
        <img src="images/logo.png" alt="logo" style="width: 100%; max-width: 324px;" />
    </p>
    <ons-card>
        <div class="title">
            <h1 class="red-text">Contact Us</h1>
        </div>
        <div class="content">
            <h3><a href="tel:0721546772" style="color: #e53143;text-decoration: none;"><ons-icon icon="fa-phone"></ons-icon> Jackie – 072 154 6772</a></h3>
            <h3><a href="tel:0842704555" style="color: #e53143;text-decoration: none;"><ons-icon icon="fa-phone"></ons-icon> Nehan – 084 270 4555</a></h3>
            <h3><a href="mailto:info@eduplexsport.co.za" style="color: #e53143;text-decoration: none;"><ons-icon icon="fa-envelope"></ons-icon> info@eduplexsport.co.za</a></h3>
            <h3><ons-icon icon="fa-map-marker"></ons-icon> 1180 Wesley Str (Right next to the Blood Bank), Pretoria, 0186</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.4273157009475!2d28.253634115591602!3d-25.72337875084594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95602bab3b1ab1%3A0x40c12f1d4a6e399d!2sEduplex+Pumptrack!5e0!3m2!1sen!2sza!4v1516258696251" style="border:0; width: 100%" allowfullscreen="" height="450" frameborder="0"></iframe>
        </div>
    </ons-card>
</ons-page>