<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Crossfit</div>
        <div class="right">
            <ons-toolbar-button ng-click="openMenu()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/w1200_dd39_Header_Draft_B__002_.jpg" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Crossfit</h1>
            <p style="text-align: center">For more information please email: charles@z4l.co.za or call 082 463 9102.<br><small>*Crossfit not included in Eduplex Sport membership packages</small></p>
        </div>
        <div class="content">
            <p><strong>What is CrossFit?</strong></p>
            <p>CrossFit workouts are comprised of constantly varied functional movements (like pushing, pulling, squatting, lifting, running) executed at high intensity.</p>
            <p>At CrossFit Z4L we use kettlebells, medicine balls, sleds, and tons of open space running, jumping climbing, lifting and throwing. The workouts themselves are completely scalable, which means that a new participant and a CrossFit veteran can complete the same workout with changes in load and intensity. CrossFit workouts will deliver phenomenal fitness in and of themselves or as a complement to your sport-specific training regime.</p>
            <p><strong>CrossFit Kids</strong></p>
            <p>CrossFit for children ages 10-18. Based on the princible of Mechanics, Consistency and then Intensity, CrossFit Kids emphasizes good improvement throughout childhood and adolescence. Consistently good mechanics translates to physical literacy, enhanced sports performance and fewer sports injuries for kids.</p>
        </div>
    </ons-card>
</ons-page>