<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="openMenu()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Packages</div>
        <div class="right"><ons-back-button></ons-back-button></div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/MEMBERSHIP-SIGNUP-1.png" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    
    <div style="padding:10px 20px;"  class="pagetitle text-center boxShadow">
        <h1 class="">Monthly Membership Packages</h1>
    </div>
    
    <ons-card class="packagecard" style="padding: 5px;">
        <div class="title">
            <span>Public</span>
        </div>
        <div class="content">
            Unlimited access to all activities
            <p><strong>R 500 p/m</strong> x12 Months</p>
            Up to 5 members per family (Including main member)
        </div>
    </ons-card>
    <ons-card class="packagecard" style="padding: 5px;">
        <div class="title">
            <span>Eduplex Families</span>
        </div>
        <div class="content">
            Unlimited access to all activities
            <p><strong>R 250 p/m</strong> x12 Months</p>
            Up to 5 members per family (Including main member)
        </div>
    </ons-card>
    
</ons-page>