<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Packages</div>
        <div class="right"></div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/MEMBERSHIP-SIGNUP-1.png" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Monthly Membership Packages</h1>
            <p style="text-align: center">*For Eduplex and HASS individuals please contact Eduplex Sport for more information*</p>
        </div>
        <div class="content">
            <p><strong>MEMBERSHIPS</strong></p>
            <ons-row>
                <ons-col><strong>Public</strong></ons-col>
                <ons-col><strong>Eduplex School</strong></ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Unlimited access to all activities</ons-col>
                <ons-col>Unlimited access to all activities</ons-col>
            </ons-row>
            <ons-row>
                <ons-col><strong>R 500 p/m</strong></ons-col>
                <ons-col><strong>R 250 p/m</strong></ons-col>
            </ons-row>
            <ons-row>
                <ons-col>x12 Months</ons-col>
                <ons-col>x12 Months</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>Up to 5 members per family (Including main member)</ons-col>
                <ons-col>Up to 5 members per family (Including main member)</ons-col>
            </ons-row>
            <p><br></p>
            <p><strong>DAY TICKETS</strong></p>
            <ons-row>
                <ons-col><strong>MONDAY – FRIDAY</strong></ons-col>
                <ons-col><strong>SATURDAY – SUNDAY & PUBLIC HOLIDAYS</strong></ons-col>
            </ons-row>
            <ons-row>
                <ons-col>KIDS (under 13)</ons-col>
                <ons-col>KIDS (under 13)</ons-col>
            </ons-row>
            <ons-row>
                <ons-col><strong>R25 per session</strong></ons-col>
                <ons-col><strong>R50 per session</strong></ons-col>
            </ons-row>
            <ons-row>
                <ons-col>KIDS (over 13) & ADULTS</ons-col>
                <ons-col>KIDS (over 13) & ADULTS</ons-col>
            </ons-row>
            <ons-row>
                <ons-col><strong>R50 per session</strong></ons-col>
                <ons-col><strong>R100 per session</strong></ons-col>
            </ons-row>
        </div>
    </ons-card>
</ons-page>