<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Strike Zone</div>
        <div class="right"></div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/STRIKE-ZONE-1.jpg" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Strike Zone</h1>
        </div>
        <div class="content">
            <p>Action Cricket, Action Soccer, Action Hockey and Dodgeball are just a few of the sports that we have to offer at Eduplex Sport Strike Zone.</p>
            <p><strong>What We Offer:</strong></p>
            <ul>
                <li>Leagues, Social & Kids Action Games</li>
                <li>Variety of action sport activities: Action Cricket / Netball / Soccer / Hockey</li>
                <li>2 x netted & lit action sport courts</li>
                <li>2 x weather resistant Netball & Tennis courts</li>
                <li>All equipment supplied – Hockey Sticks, Cricket Bats etc. Own equipment not required but allowed.</li>
                <li>Umpires provided</li>
                <li>Action Sport * Kids Parties</li>
            </ul>
        </div>
    </ons-card>
</ons-page>