<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Test Zone</div>
        <div class="right"></div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/TEST-ZONE-1.jpg" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Test Zone</h1>
        </div>
        <div class="content">
            <h3>Battlefield for Born Champions</h3>
            <p><strong>What We Offer:</strong></p>
            <ul>
                <li>Athletics, Rugby, Cricket, Softball & Soccer</li>
                <li>A standard athletics grass field (400m) / 3-tiered grass pavilion surrounding the field</li>
                <li>Fibreglass Rugby and soccer posts / A Turf Cricket Pitch</li>
            </ul>
            <p>If you would like to make an arrangement or booking please feel free to contact Eduplex Sport at: nehan@eduplex.co.za</p>
            <p><strong>Operating Times</strong></p>
            <ons-row>
                <ons-col><strong>Monday – Friday</strong></ons-col>
                <ons-col>05:00 to 21:00</ons-col>
            </ons-row>
            <ons-row>
                <ons-col><strong>Saturday – Sunday</strong></ons-col>
                <ons-col>By arrangement</ons-col>
            </ons-row>
            <p><strong>We are closed in rainy weather, Sundays, Easter weekend and between Christmas & New Year.</strong></p>
        </div>
    </ons-card>
</ons-page>