<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
        <div class="center">Test Zone</div>
        <div class="right"></div>
    </ons-toolbar>
    <p style="text-align: center; padding: 0; color: #fff;">
        <img src="images/TEST-ZONE-1.jpg" alt="bikebaner" style="width: 100%; max-width: 800px;" />
    </p>
    <ons-card style="padding: 5px;">
        <div class="title">
            <h1 class="red-text">Test Zone</h1>
        </div>
        <div class="content">
            <h3>Battlefield for Born Champions</h3>
            <p><strong>Who?</strong><br>Corporate Functions, Team Building & Events, Sporting Events, Public members, Clubs, Schools</p>
            <p><strong>What?</strong><br>Contact us for Sporting Events / Functions. We offer Fields and Equipment / Kids Parties</p>
            <p><strong>What We Offer:</strong></p>
            <ul>
                <li>Athletics, Rugby, Cricket, Softball & Soccer</li>
                <li>A standard athletics grass field (400m) / 3-tiered grass pavilion surrounding the field</li>
                <li>Fibreglass Rugby and soccer posts / A Turf Cricket Pitch</li>
            </ul>
            <p>If you would like to make an arrangement or booking please feel free to contact Eduplex Sport at: <br>events@eduplexsport.com<br>Jackie – 072 154 6772<br>Nehan – 084 270 4555</p>
        </div>
    </ons-card>
</ons-page>